@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="project-title">University of Prishtina, FIEK – Information Security: Testing the SHA-256 Hashing Algorithm in C#</span>
            <a href="https://github.com/melisaalaj/SHA256-Hashing-Testing/blob/main/README.md" target="_blank">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
